.advantages__list {
    display: flex;
    gap: 30px;
}

.advantages__item{
    width: 270px;
}

.advantages__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    min-height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;;
}

.advantages__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

 .advantages__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
 }