footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.footer{
    
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    } 

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    } 
}