body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    background-color: var(--background-color);
}

.main-title {
    max-width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1999px) {
        margin-bottom: 50px;
        font-size: 36px;
    } 
}