:root {
    --title-color: #212121;
    --text-color: #757575;
    --active-color: #2196F3; 
    --logo-web-color: #2196F3;
    --background-color: #FFFFFF;
}

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

@media screen and (min-width: $tablet) {
        
} 

@media screen and (min-width: $desktop) {
    
}